<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>

    <target name="udp" xsi:type="NLogViewer" address="udp://127.0.0.1:9999" layout="${longdate}: ${message}"/>
    
    
    <!-- <target name="logfile" xsi:type="File" -->
           <!-- fileName="C:/TAFORT/Test.txt" -->
           <!-- archiveFileName="C:/TAFORT/Test{#}.txt" -->
           <!-- layout="${longdate} ${message}${exception:format=ToString,StackTrace}" -->
           <!-- archiveEvery ="Day" -->
           <!-- archiveNumbering="Rolling" -->
           <!-- maxArchiveFiles="7" -->
           <!-- concurrentWrites="true" -->
           <!-- keepFileOpen="false" -->
           <!-- encoding="iso-8859-2" -->
            <!-- /> -->
    <target name="console" xsi:type="Console" layout="${longdate}:> ${message}"/>
  </targets>

  <rules>
    <!-- <logger name="*" minlevel="Trace" writeTo="logfile" /> -->
    <logger name="*" minlevel="debug" writeTo="console" />
    <logger name ="*" minlevel="trace" writeTo="udp" />
  </rules>
</nlog>
